@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
/* THEMES */
.theme-dark {
	--color-primary: #31cc31;
	--color-primary-light: #72ff64;
	--color-primary-dark: #009a00;
	--color-background: #121212;
	--color-nav: #2e2e2e;
	--color-card: #1e1e1e;
	--color-text: white;
	--color-text-header: white;
	--color-text-nav: var(--color-primary);
	--color-text-theme: black;
	--color-input: #242434;
	--color-input-focus: #333333;
}
.theme-contrast {
	--color-primary: black;
	--color-primary-light: white;
	--color-primary-dark: black;
	--color-background: white;
	--color-nav: white;
	--color-card: white;
	--color-text: black;
	--color-text-header: white;
	--color-text-nav: var(--color-primary-dark);
	--color-text-theme: white;
	--color-input: white;
	--color-input-focus: white;
}
.theme-light {
	--color-primary: #31cc31;
	--color-primary-light: #72ff64;
	--color-primary-dark: #009a00;
	--color-background: #eeeeee;
	--color-nav: #bbbbbb;
	--color-card: #dddddd;
	--color-text: black;
	--color-text-header: white;
	--color-text-nav: var(--color-primary-dark);
	--color-text-theme: black;
	--color-input: #f1f1f1;
	--color-input-focus: #ddd;
}

/* GENERAL */
* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: "Zen Kurenaido", sans-serif;
}
.theme-contrast body {
	font-family: Arial, sans-serif;
	letter-spacing: 5px;
	line-height: 1.5;
	word-spacing: 10px;
}
a {
	color: var(--color-primary);
}

/* NAVIGATION BAR */
nav,
nav .holder {
	z-index: 2;
	position: relative;
	overflow: hidden;
	background-color: var(--color-nav);
}
nav a {
	float: left;
	color: var(--color-text-nav);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s;
	font-size: 25px;
	padding: 16px 16px;
}
.nav-center a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-nav);
}
.nav-right {
	float: right;
}
nav a:hover {
	background-color: var(--color-primary-light);
	color: black;
}
nav .icon {
	display: none;
}
.content {
	padding: 16px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
nav.shrink a {
	padding: 14px 16px;
	font-size: 20px;
}
.sticky + main {
	padding-top: 60px;
}

/* ALERTS */
.messages {
	z-index: 3;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 5% 20%;
	pointer-events: none;
	opacity: .8;
}
.flash {
	text-align: center;
	font-weight: bold;
	background-color: var(--color-primary);
	color: var(--color-theme-text);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	padding: 15px;
	font-size: 100%;
	margin-top: 10px;
	animation: fade .5s ease 2s;
	animation-direction: reverse;	
	animation-fill-mode: forwards;
}

/* MAIN PAGE */
main {
	padding-top: 2rem;
	min-height: 100vh;
}
main > div {
	position: relative;
	padding: 2rem 20%;
}

/* - CARDS */
.row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 0 -10px;
	width: 100%;
	max-height: 800px;
	overflow-y: hidden;
}
.row .more {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 200px;

	background-color: var(--color-background);
	background: linear-gradient(transparent, var(--color-background));
}
.row .more a {
	position: absolute;
	left: 50%;
	bottom: 20%;
	width: 50%;
	min-width: 100px;
	color: var(--color-primary-dark);
	border: 2px solid var(--color-primary-dark);
	border-radius: 2px;

	transform: translate(-50%, -50%);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.row .more a:hover {
	background-color: var(--color-primary-dark);
	color: var(--color-text-theme);
}
.row > .card-outside {
	flex: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.row > .card-outside ~ .card-outside {
	flex: 25%;
	max-width: 25%;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 2px;
	background-color: var(--color-card);

	margin: 10px;
	margin-bottom: 0;
	box-sizing: border-box;
	height: 100%;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
	border-radius: 2px 2px 0 0;
	max-height: 20vh;
	object-fit: cover;
}
.card .container {
	padding: 6px 16px;
}

/* -FORMS */
input[type="text"],
input[type="password"],
input[list],
select {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: var(--color-input);
	caret-color: var(--color-text);
	color: var(--color-text);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[list]:focus,
select:focus {
	background-color: var(--color-input-focus);
	outline: none;
}
button[type="submit"] {
	background-color: var(--color-primary);
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
button[type="submit"]:hover {
	opacity: 1;
}
.theme-contrast input[type="text"]:focus,
.theme-contrast input[type="password"]:focus {
	outline: solid;
}

#theme {
	width: inherit;
	padding: 8px 2px;
	background-color: var(--color-input-focus);
}

hr {
	border: 1px solid var(--color-text);
	margin-bottom: 25px;
}

/* FOOTER */
footer {
	background-color: var(--color-nav);
	color: var(--color-text-nav);
	padding: 10px;
}
footer .links {
	overflow: auto;
}
footer a {
	color: var(--color-text-nav);
	padding: 10px;

	text-align: center;
	display: block;
	width: 10%;
	float: left;
}
footer a:hover {
	background-color: var(--color-primary-light);
	color: black;
}
footer a i {
	margin-right: 10px;
}
footer .comments {
	margin-top: 10px;
}
footer p {
	width: 100%;
	text-align: center;
}
.theme-contrast footer {
	border-top: 1px solid black;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
.theme-contrast ::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-light);
}

/* ANIMATIONS */
@-webkit-keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1200px) {
	.row > .card-outside ~ .card-outside {
		flex: 33.3%;
		max-width: 33.3%;
	}
	header .info {
		left: 10%;
		right: 10%;
	}
	footer a {
		width: calc(100% / 8);
	}
}
@media (max-width: 900px) {
	header .info {
		top: 10%;
		transform: none;
	}
	header .info .column {
		width: 100%;
		float: none;
		display: block;
	}
	header .info .rotateColumn {
		max-height: 40vh;
	}
	.rotateColumn .slide-card {
		transform: rotateX(20deg);
	}
	header .info img,
	header .info video {
		min-height: 30vh;
		width: 100%;
	}
	footer a {
		width: calc(100% / 6);
	}	
}
@media screen and (max-width: 800px) {
	.row > .card-outside ~ .card-outside {
		flex: 50%;
		max-width: 50%;
	}
}
@media (max-width: 600px) {
	header .info .title {
		font-size: 8vw;
	}
	nav a {
		display: none;
		padding: 14px 16px;
		font-size: 20px;
	}
	nav .icon,
	.nav-center a {
		display: block;
	}
	nav.responsive a,
	.nav-right {
		float: none;
		display: block;
	}
	nav.responsive .nav-center a {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
	nav.responsive.reverse {
		overflow: visible;
	}
	nav.responsive.reverse .holder {
		transform: translateY(-83.333%);
	}
	.row > .card-outside ~ .card-outside {
		flex: 100%;
		max-width: 100%;
	}
	footer a {
		width: calc(100% / 3);
	}
}
