.cart-head {
	position: fixed;
	z-index: 1;
	background-color: var(--color-primary);
	background: linear-gradient(
		to right,
		transparent,
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		transparent
	);
	color: var(--color-text-theme);
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 20rem;
	bottom: 0px;
}
.theme-contrast .cart-head {
	background-color: var(--color-primary);
}
.cart-right {
	float: right;
}
.cart-head button {
	background-color: var(--color-text-theme);
	color: var(--color-text);
}
