.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    color: white;
	background-color: var(--color-primary);
	opacity: 0.8;
	display: inline-block;
	padding: 5px 8px;
	margin: 5px 0 22px 0;
}
.inputfile + label i {
	margin-right: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 1;
}
.inputfile + label {
	cursor: pointer;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}