.more a {
				display: block;
}
.slant {
	background: var(--color-primary-dark);
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
	padding: 10rem 20%;
	color: var(--color-text-theme);
}
.slant .more {
	width: 50%;
	min-width: 150px;
	margin: auto;
}
.slant .more a {
	padding: 5px 10px;
	border-radius: 2px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	color: var(--color-text-theme);
	border: 2px solid var(--color-text-theme);
}
.slant .more a:hover {
	background-color: var(--color-background);
	color: var(--color-text);
}
.accounts .table-cont {
	width: 100%;
	overflow-x: auto;
	padding: 0;
}
.accounts .card {
 padding: 5px 20px;
	margin: 15px 0px;
}
.accounts ul {
  list-style: none;
  padding-left: 0;
}
.accounts ul li:before {
  content: '✓';
  color: var(--color-primary);
  padding-right: 5px;
}
.accounts .more {
	width: 50%;
	min-width: 150px;
	margin: auto;
	border: 2px solid var(--color-primary);
	border-radius: 2px;
}
.accounts .more a {
 display: block;
	padding: 5px 10px;
	color: var(--color-primary);
	text-decoration: none;
	text-align: center;
	width: 100%;
}
.accounts .more a:hover {
	background-color: var(--color-primary);
	color: var(--color-text-theme);
}
@media screen and (min-width: 800px) {
		.accounts .card-outside {
						width: 33.3%;
						float: left;
		}
		.accounts .card {
    margin: 15px 10px;
  }
}