/* TABS */
.tab {
	overflow: hidden;
	background-color: var(--color-card);
}
.tab button {
	color: var(--color-text);
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}
.tab button.active {
	background-color: var(--color-input-focus);
}
.tab button:hover {
	background-color: var(--color-primary-light);
	color: black;
}
.tabcontent {
	display: none;
	padding: 6px 12px;
}
