<<<<<<< HEAD
.collapsible {
	border: none;
	text-align: left;
	outline: none;
}

.collapsible.active {
	background-color: var(--color-primary-light);
	color: var(--color-text-theme);
}

.collapsible-content {
	display: none;
	overflow: hidden;
}
=======
.collapsible {
	border: none;
	text-align: left;
	outline: none;
}

.collapsible.active {
	background-color: var(--color-primary-light);
	color: var(--color-text-theme);
}

.collapsible-content {
	display: none;
	overflow: hidden;
}
>>>>>>> bcc21a1a0f95ad0d6bc859db173bb26bc0ed8b23
