{% extends 'base.html' %} {% block title %}Create Event{% endblock %} {% block content
%}
<main>
	<div>
		<h1>Create Event</h1>
		<form method="POST" onsubmit="return validateForm()">
			<div>
				<p>Please fill in this form to create an event.</p>
				<hr />
				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Enter Brief Title" required />

				<label for="date">Date</label>
				<input type="date" name="date" placeholder="Enter the Date" required id="datePicker" />

<input type="checkbox" name="guest" value="guest">
				<label for="guest">Guest</label><br>
				
				<input type="checkbox" name="basic" value="basic">
				<label for="basic">Basic</label><br>
				
				<input type="checkbox" name="extended" value="extended">
				<label for="extended">Extended</label><br>	

				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Enter Brief Title" required />

				<button type="submit" class="registerbtn">Create Event</button>
			</div>

			<div>
				<p>
					Need an account?
					<a href="{{ url_for('auth.register') }}">Register</a>.
				</p>
			</div>
		</form>
	</div>
</main>
{% endblock %}
