{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}
<main>
	<div>
		<h1>Dashboard :)</h1>
		<div>
			{% if info %}
			<div class="row" id="upcoming-expand">
				{% for row in info %}
				<div
					class="list-outside"
					href="/event/{{ row['eventid'] }}"
					onclick="location.href=`/event/{{ row['eventid'] }}`;"
				>
					<div class="list">
						{% if row['eventhero'] %}
						<img
							src="{{ os.path.join(url_for('static', filename = 'upload'), row['eventhero']) }}"
							alt="{{ row[0] }}"
							loading="lazy"
						/>
						{% else %}
						<div
							class="img"
							style="background-color: #{% for i in range(6) %}{{ random.choice('ABCDEF0123456789') }}{% endfor %}"
						>
							{{ row['eventtitle'][0].title() }}
						</div>
						{% endif %}
						<div class="container">
							<h4>
								{{ row['eventtitle'] }} - {{
								datetime.strptime(row['eventdate'],
								"%Y-%m-%dT%H:%M").strftime("%#I:%M %p, %b. %#d")
								}}
							</h4>
							<div class="corner">
								{% if row['eventprice'] %} ${{
								'{:.2f}'.format(row['eventprice']) }} {% else %}
								Free {% endif %}
							</div>
							<div class="more_info">
								{% if (datetime.strptime(row['eventdate'],
								'%Y-%m-%dT%H:%M') -
								datetime.now()).total_seconds() < 3600 %}
								<a href="/event/live/{{ row['eventid'] }}">
									Attend
								</a>
								{% else %}
								<a href="about:blank#blocked" class="disabled">
									Attend
								</a>
								{% endif %}

								<a href="/event/{{ row['eventid'] }}"> More </a>
								<form
									method="POST"
									action="{{url_for('auth.cartmanage')}}"
								>
									<button
										type="submit"
										name="removecart"
										type="submit"
										value="{{ row['cartid'] }}"
									>
										<span>Remove From Cart</span>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="more">
					<a href="#expand" onclick="expandUpcoming(this)">More</a>
				</div>
			</div>
			{% else %}
			<p>
				Visit
				<a href="{{ url_for('event.schedule') }}">the schedule</a> to
				view events and make reservations.
			</p>
			{% endif %}
		</div>
		<span
			><a href="{{ url_for('event.create') }}">Create Event</a> |
			<a href="{{ url_for('auth.cart') }}">View Cart</a>
		</span>
	</div>
</main>
{% endblock %}
