{% extends 'base.html' %} {% block title %}{{ row['eventtitle'] }}{% endblock %}
{% block header %} {% if row['eventhero'] %}
<header>
	<img
		src="{{ url_for('static', filename = 'upload/' + row[5].split('/')[-1]) }}"
		alt="{{ row[0] }}"
		style="width: 100%"
	/>
</header>
{% endif %} {% endblock %} {% block content %}
<main>
	<div>
		<h1>{{ row['eventtitle'] }}</h1>
		<h3>
			{{ datetime.strptime(row['eventdate'],
			"%Y-%m-%dT%H:%M").strftime("%#I:%M %p, %b. %#d") }}
		</h3>
		{% if row['eventdesc'] %}
		<p>{{ row['eventdesc'] }}</p>
		{% endif %}

		<div class="banner">{{ row['eventlevel'] }}</div>
		<hr />
		{% if row['eventprice'] %} ${{ '{:.2f}'.format(row['eventprice']) }} {%
		else %} Free {% endif %}
		<div class="more_info">
			<a href="#more">Add To Cart</a>
			<a href="/auth/cart">View Cart</a>
		</div>
	</div>
</main>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='id.js') }}"></script>
{% endblock %}
