{% extends 'base.html' %} {% block title %}Feedback{% endblock %} {% block
content %}
<main>
	<div>
		<h1>Feedback</h1>
		<div class="row">
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Phone</h1>
						<p>(863) 648 - 3566</p>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Email</h1>
						<p>
							<a
								href="mailto:webmaster@prismperformances.live?subject=Feedback for Prism Concerts">webmaster@prismperformances.live</a>
						</p>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Address</h1>
						<p>
							<a href="https://www.google.com/maps/place/George+Jenkins+High+School">6000 Lakeland
								Highlands Rd,
								Lakeland, FL 33813</a>
						</p>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Fax</h1>
						<p>(863) 549 - 9869</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}