{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content
%}
<main>
	<div>
		<h1>Login</h1>
		<div class="inlineAlert">
			<div class="leftBody">
				<h3>Account Notice</h3>
				<p>
					For the competition, accounts were made for judges. Any changes made
					to this server will be reset once a day.
				</p>
				<p>
					Basic Account: username = "tsabasic", password = "TSApassword2022".
				</p>
				<p>
					Extended Account: username = "tsaextended", password =
					"TSApassword2022".
				</p>
				<p>
					Developer Account: username = "tsadeveloper", password =
					"TSApassword2022".
				</p>
			</div>
			<div
				class="rightClose"
				onclick="this.parentElement.style.maxHeight = '0px';"
			>
				<i class="fa fa-window-close-o"></i>
			</div>
		</div>
		<form method="POST" onsubmit="return validateForm()">
			<div>
				<p>Please fill in this form to create an account.</p>
				<hr />
				<label for="username">Username</label>
				<input
					type="text"
					name="username"
					id="username"
					placeholder="Enter Username"
					required
				/>
				<label for="password">Password</label>
				<div class="side-button">
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Enter Password"
						required
					/>
					<i
						class="fa fa-eye-slash viewpass"
						onclick="togglePassword(this, this.previousElementSibling)"
					></i>
				</div>

				<button type="submit" class="registerbtn">Login</button>
				<input
					type="hidden"
					name="next"
					value="{{ request.args.get('next', '') }}"
				/>
			</div>

			<div>
				<p>
					Need an account?
					<a href="{{ url_for('auth.register') }}">Register</a>.
				</p>
			</div>
		</form>
	</div>
</main>
{% endblock %}
