{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<main>
	<div>
		<h1>Register</h1>
		<form method="POST" onsubmit="return validateForm()">
			<div>
				<p>Please fill in this form to create an account.</p>
				<hr />
				<label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Create Username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Create Password" required>
    <p>
					By creating a slot you agree to our
					<a href="#">Terms & Privacy</a>.
				</p>
				<button type="submit" class="registerbtn">Register</button>
			</div>

			<div>
				<p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a>.</p>
				</div>
		</form>
	</div>
</main>
{% endblock %}
