<main>
	<div>
		<h1>About Us</h1>
		<p>
			Welcome to our anual prism concert here at George Jenkins high school! Ever since 2005, when this tradition first started, we had an anual concert with a diversity of events, from music shows to culinary miracles. But, recently there has been a pandemic at our doors which has prevented us from doing it at the school. However, this will not stop us as we are now doing it online! So, come join us, and experience all of the events that lie ahead of us.  
		</p>

		<h2>Activities</h2>
		<div class="fold">Music</div>
		<div class="fold">Design</div>
		<div class="fold">Culinary</div>
		<div class="fold">Martial Art</div>
	</div>
</main>
