<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Set info for accessibility -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Homepage for the Prism concert series at George Jenkins"
		/>

		<title>{{ title.title() }} | Prism Concerts</title>

		<!-- Load main styles -->
		<link rel="stylesheet" href="static/base.css" />
		<link rel="stylesheet" href="static/{{title}}.css" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/favicon.ico" />
		<link rel="icon" type="image/jpg" href="assets/favicon.jpg" />

		<!-- Load an icon library -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		{% if (request.path == "/") or ("/index" in request.path) %}
		<header>
			<div class="info">
				<div class="column">
					<div class="title fade">
						<h1>Prism<br />Concerts</h1>
					</div>
					<div class="slideshow">
						<h2 class="slide fade">A Creative Showcase</h2>
						<h2 class="slide fade">A Collection of Art</h2>
						<h2 class="slide fade">A Multitude of Talent</h2>
					</div>
					<h3 class="morebutton fade">
						<a href="#more">Learn More <i class="jump">↴</i></a>
					</h3>
				</div>
				<div class="column">
					<div class="title fade">
						<div class="slideshow">
							 {% for i in range (3) %}
							 <div class="slide-card">
								<div class="slide-title">Oregon Orchestra</div>
								<img src="assets/orchestra.jpg" alt="Orchestra">
								<div class="slide-time">{{i}} Days Left</div>
							</div>
							 {% endfor %}
						</div>
					</div>
					
				</div>
			</div>
		</header>

		<nav class="reverse"> 
		{% else %}
		<nav class="shrink">
		{% endif %}
			<div class="holder">
				<div class="nav-center">
					<a href="/">PRISM CONCERTS</a>
				</div>

				<a href="/about">About</a>
				<a href="/schedule">Schedule</a>
				<a href="/Info">Contact</a>

				<div class="nav-right">
					<a href="/register">Register</a>
					<a href="/signin">Sign In</a>
				</div>

				<a href="javascript:void(0);" class="icon" onclick="responsiveNavbar()">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		</nav>
		{% include file %}

		<footer>
			<form>
				<label for="theme">Theme:</label>

				<select name="theme" id="theme" onchange="setTheme(this.value)">
					<option value="theme-dark">Dark</option>
					<option value="theme-light">Light</option>
					<option value="theme-contrast">High Contrast</option>
				</select>
			</form>
			<p>Made by Tyson McLaws and Pierre Boisvert</p>
			<p>Sources from ADT at George Jenkins</p>
		</footer>

		<script src="static/base.js"></script>
		<script src="static/{{title}}.js"></script>
	</body>
</html>
