<main id="more">
	<div class="upcoming">
		<h2>Upcoming</h2>
		<div class="row">
			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Culinary show</b></h4>
						<p>Featuring the culinary team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Martial Arts show</b></h4>
						<p>Featuring the Martial Arts team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Designing Show</b></h4>
						<p>Featuring the designing team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Culinary show</b></h4>
						<p>Featuring the culinary team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Martial Arts show</b></h4>
						<p>Featuring the Martial Arts team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Designing Show</b></h4>
						<p>Featuring the designing team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="more">
				<a href="/schedule">More</a>
			</div>
		</div>
	</div>
	<div class="slant">
		<h2>About</h2>
		<p>
			Donec non commodo enim, nec condimentum nulla. Fusce nulla dui, commodo
			non metus nec, facilisis blandit lectus.
		</p>
	</div>
	<div>
		<form action="action_page.php" onsubmit="return validateForm()">
			<div>
				<h2>Register</h2>
				<p>Please fill in this form to create an account.</p>
				<hr />
				<div class="not_signed_in">
					<label for="email"><b>Email</b></label>
					<input type="text" placeholder="Enter Email" name="email" required />

					<label for="password"><b>Password</b></label>
					<input
						type="password"
						placeholder="Enter Password"
						name="password"
						required
					/>
				</div>

				<label for="event"><b>Event</b></label>
				<input list="event" name="event" placeholder="Select Event" required />
				<datalist id="event">
					<option value="Oregon Orchestra">
						Featuring Orange Orangutan on Jan 3 & 4 2065
					</option>
					<option value="Panama Philharmonic">
						Featuring Pasley Potato on March 32 & 34 1934
					</option>
					<option value="Oregon Orchestra">
						Featuring Orange Orangutan on Jan 5 & 6 2066
					</option>
					<option value="Panama Philharmonic">
						Featuring Pasley Potato on March 32 & 34 1934
					</option>
					<option value="Oregon Orchestra">
						Featuring Orange Orangutan on May 9 20101
					</option>
					<option value="Panama Philharmonic">
						Featuring Pasley Potato on July 3 1812
					</option>
				</datalist>

				<hr />

				<p>
					By creating a slot you agree to our
					<a href="#">Terms & Privacy</a>.
				</p>
				<button type="submit" class="registerbtn">Register</button>
			</div>

			<div>
				<p>Already have a slot? <a href="#">Check your dashboard</a>.</p>
			</div>
		</form>
	</div>
</main>
