<main>
	<div class="upcoming">
		<h1>Schedule</h1>
		<div class="row" id="upcoming-expand">
			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Culinary show</b></h4>
						<p>Featuring the culinary team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Martial Arts show</b></h4>
						<p>Featuring the Martial Arts team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Designing Show</b></h4>
						<p>Featuring the designing team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Culinary show</b></h4>
						<p>Featuring the culinary team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Martial Arts show</b></h4>
						<p>Featuring the Martial Arts team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Designing Show</b></h4>
						<p>Featuring the designing team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="more">
				<a href="#more" onclick="expandUpcoming(this)">More</a>
			</div>
		</div>
	</div>
</main>
