
<main>
	<div class="upcoming">
		<h1>Schedule</h1>
		<div class="row" id="upcoming-expand">
			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on Jan 1, 2007</p>
					</div>
				</div>
			</div>
		<div class="row" id="upcoming-expand">
			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on Jan 1, 2007</p>
					</div>
				</div>
			</div>
						
			<div class="more">
				<a href="#more"
				onclick="expandUpcoming(this)"				
>More</a>
			</div>
		</div>
	</div>
</main>
