{% extends 'base.html' %} {% block title %}About{% endblock %} {% block content
%}
<main>
	<div>
		<h1>About Us</h1>
		<p>Welcome to our annual prism concert here at George Jenkins High School! Just like a prism reflects the full
			range of light, Prism Performances relects a variety of skills and acts.</p>
		<p>
		<p>
			Since 2005, when this tradition first started, we had an annual concert
			with an explosion of events, from music shows to culinary miracles. This year's focus is on the US's variety
			of culture. With a variety of exhibits - including appearences from exceptional students at George Jenkins -
			enjoy Florida's diversity!
		</p>
		<p>Recently, the pandemic pushed Prism Performances online.  But, this didn't stop us from offering unique virtual events!</p>

		<h2>Activities</h2>
		<div class="row">
			<div class="card-outside">
				<div class="card">
					<img src="/static/orchestra.jpg" alt="orchestra" style="width:100%;">

					<div class="overlay">
						<div class="centered">Music</div>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<img src="/static/orchestra.jpg" alt="orchestra" style="width:100%;">

					<div class="overlay">
						<div class="centered">Design</div>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<img src="/static/orchestra.jpg" alt="orchestra" style="width:100%;">

					<div class="overlay">
						<div class="centered">Culinary</div>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<img src="/static/orchestra.jpg" alt="orchestra" style="width:100%;">

					<div class="overlay">
						<div class="centered">Culture</div>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<img src="/static/orchestra.jpg" alt="orchestra" style="width:100%;">

					<div class="overlay">
						<div class="centered">Martial Arts</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<h1>Contact Information</h1>

		<h2>School Info</h2>
		<h3>George W. Jenkins High School</h3>
		<div class="fold">Phone number: 863-648-3566</div>
		<div class="fold">
			Address: 6000 Lakeland Highlands Rd, Lakeland, FL 33813
		</div>
		<a href="http://georgejenkinshs.com/">Website</a>

		<h2>Organizer's info</h2>
		<div class="fold">Phone number: 863-549-9869</div>
		<div class="fold">
			Address: 6000 Lakeland Highlands Rd, Lakeland, FL 33813
		</div>
		<a href="http://georgejenkinshs.com/">Website</a>
	</div>
</main>
{% endblock %}
