{% extends 'base.html' %} {% block title %}Feedback{% endblock %} {% block
content %}
<main>
	<div>
		<h1>Feedback</h1>
		<div class="row">
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Phone</h1>
						<p>(000) 000 - 0000</p>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Email</h1>
						<p>
							<a
								href="mailto:not-an-email@email.com?subject=Feedback for Prism Concerts"
								>not-an-email@email.com</a
							>
						</p>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Address</h1>
						<p>
							<a
								href="https://www.google.com/maps/place/Lakeland,+FL/"
								>0000 Not A Road Rd, Lakeland, FL</a
							>
						</p>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<div class="container">
						<h1>Fax</h1>
						<p>(000) 000 - 0000</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
