{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block header %}
<header>
	<div class="column">
		<div class="filler"></div>
		<div class="logo">
			<img src="{{ url_for('static', filename='logo_600.png') }}" alt="Prism Concerts" />
			<div class="slideshow">
				<h2 class="slide fade">High-Class<br />High School Entertainments</h2>
				<h2 class="slide fade">High Class<br />High School Entertainments</h2>
				<h2 class="slide fade">High Class<br />High School Entertainments</h2>
			</div>
			<h3 class="morebutton fade">
				<a href="#more">Learn More <i class="jump">↴</i></a>
			</h3>
		</div>
		<div class="filler"></div>
	</div>
	<div class="column rotateColumn">
		<div class="filler"></div>
		<div class="slideshow slide-card">
			{% for row in featured %}
			<div class="slide-card-inner" onclick="location.href=`/event/{{ row['eventid'] }}`;">
				<div class="slide-title">{{ row['eventtitle'] }}</div>
				<video autoplay muted loop loading="lazy">
					<source src="{{ os.path.join(url_for('static', filename = 'upload'), row['eventvideo']) }}" />
					<img src="{{ os.path.join(url_for('static', filename = 'upload'), row['eventhero']) }}"
						alt="{{ row['eventtitle'] }}" loading="lazy" />
				</video>
				<div class="slide-time">UPCOMMING - {{ row['eventdate'] }}</div>
			</div>
			{% endfor %}
		</div>
		<div class="filler"></div>
	</div>
</header>
{% endblock %} {% block content %}
<main>
	<div class="upcoming">
		<h2>Upcoming</h2>
		<div class="row">
			{% for row in info %}
			<div class="card-outside {% if loop.index == 1 %}{{ "fullwidth" }}{% endif %}" href="/event/{{ row['eventid'] }}"
				onclick="location.href=`/event/{{ row['eventid'] }}`;">				
				<div class="card">
					{% if row['eventhero'] %}
					<img src="{{ os.path.join(url_for('static', filename = 'upload'), row['eventhero']) }}"
						alt="{{ row[0] }}" style="width: 100%" loading="lazy" />
					{% else %}
					<div class="img"
						style="background-color: #{% for i in range(6) %}{{ random.choice('ABCDEF0123456789') }}{% endfor %}">
						{{ row['eventtitle'][0].title() }}						
					</div>
					{% endif %}
					<div class="container">
						<h6>
							{{ datetime.strptime(row['eventdate'],
							"%Y-%m-%dT%H:%M").strftime("%#I:%M %p, %b. %#d") }}
						</h6>
						<h4><b>{{ row['eventtitle'] }}</b></h4>
						<p>{% if row['eventdesc'] %}{{ row['eventdesc'] }}{% endif %}</p>
						<div class="banner">{{ row['eventlevel'] }}</div>
						<div class="corner">
							{% if row['eventprice'] %} ${{ '{:.2f}'.format(row['eventprice'])
							}} {% else %} Free {% endif %}
						</div>
						<div class="more_info">
							<a href="/event/{{ row['eventid'] }}">More</a>
							<a href="#more">Add To Cart</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="more">
				<a href="{{ url_for('event.schedule') }}">View More</a>
			</div>
		</div>
	</div>
	<div class="slant" id="more">
		<h2>About</h2>
		<p>Welcome to our annual prism concert here at George Jenkins High School! Just like a prism reflects the full
			range of light, Prism Performances relects a variety of skills and acts.</p>
		<p>
			Since 2005, when this tradition first started, we had an annual concert
			with an explosion of events, from music shows to culinary miracles. But,
			recently there has been a pandemic at our doors which has prevented us
			from hosting these concerts. However, this will not stop us as we are now
			doing it online! So, come, join us, and experience all of the events that
			lie ahead of us!
		</p>
		<div class="more">
			<a href="/about">Learn More</a>
		</div>
	</div>
	<div class="accounts">
		<h2>Accounts</h2>
		<div class="table-cont">
			<div class="card-outside">
				<div class="card">
					<h3 class="plan">Guest</h3>
					<div class="info">
						<ul>
							<li>Anonymously Attend Free Events</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<h3 class="plan">Basic</h3>
					<div class="info">
						<ul>
							<li>Attend Free & Paid Events</li>
							<li>Choose from 2 Virtual Avatars</li>
							<li>$5 Credit For Registering</li>
							<li>Free Forever</li>
							<li>No Credit Card Required</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card-outside">
				<div class="card">
					<h3 class="plan">Extended</h3>
					<div class="info">
						<ul>
							<li>Attend Free, Paid, and Specialty Events</li>
							<li>Choose From 5 Virtual Avatars</li>
							<li>$5 Credit For Registering</li>
							<li>25% Off Tickets</li>
							<li>Host Your Own Events</li>
							<li>One Time Purchase</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="more">
			<a href="{{ url_for('auth.register') }}">Sign Up</a>
		</div>
	</div>
</main>
{% endblock %}
