{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style %}
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block header %}
<header>
			<div class="info">
				<div class="column">
					<div class="title fade">
						<h1>Prism<br />Concerts</h1>
					</div>
					<div class="slideshow">
						<h2 class="slide fade">A Creative Showcase</h2>
						<h2 class="slide fade">A Collection of Art</h2>
						<h2 class="slide fade">A Multitude of Talent</h2>
					</div>
					<h3 class="morebutton fade">
						<a href="#more">Learn More <i class="jump">↴</i></a>
					</h3>
				</div>
				<div class="column rotateColumn">
					<div class="slideshow slide-card">
						<div class="slide-card-inner">
							<div class="slide-title">Boo Orchestra</div>
							<video autoplay muted loop>
								<source src="static/winter.mp4" type="video/mp4" />
								<img src="static/orchestra.jpg" alt="Orchestra">
							</video>
							<div class="slide-time">many days left</div>
						</div>
						{% for i in range (3) %}
						<div class="slide-card-inner">
							<div class="slide-title">Oregon Orchestra</div>
							<video autoplay muted loop>
								<source src="static/sailing.mp4" type="video/mp4" />
								<img src="static/orchestra.jpg" alt="Orchestra">
							</video>
							<div class="slide-time">{{i}} days left</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</header>
{% endblock %}

{% block content %}
<main id="more">
	<div class="upcoming">
		<h2>Upcoming</h2>
		<div class="row">
			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Oregon Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Culinary show</b></h4>
						<p>Featuring the culinary team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Martial Arts show</b></h4>
						<p>Featuring the Martial Arts team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Designing Show</b></h4>
						<p>Featuring the designing team<br />on May 24th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Boo Orchestra</b></h4>
						<p>Featuring Orange Orangutan<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Culinary show</b></h4>
						<p>Featuring the culinary team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Martial Arts show</b></h4>
						<p>Featuring the Martial Arts team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="card-outside">
				<div class="card">
					<img src="static/orchestra.jpg" alt="Avatar" style="width: 100%" />
					<div class="container">
						<h4><b>Designing Show</b></h4>
						<p>Featuring the designing team<br />on June 4th, 2022</p>
					</div>
				</div>
			</div>

			<div class="more">
				<a href="/schedule">More</a>
			</div>
		</div>
	</div>
	<div class="slant">
		<h2>About</h2>
		<p>
			Donec non commodo enim, nec condimentum nulla. Fusce nulla dui, commodo
			non metus nec, facilisis blandit lectus.
		</p>
	</div>
	<div class="accounts">
	  <h2>Accounts</h2>
	  <p>A Prism account lets you sign up and keep track of events.</p>
	  
	</div>
</main>
{% endblock %}
{% block script %}
		<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
