{% extends 'base.html' %}
{% block title %}Info{% endblock %}
{% block content %}
<main>
	<div>
		<h1>Contact Information</h1>

		<h2>School Info</h2>
			<h3>George W. Jenkins High School</h3>
				<div class="fold">Phone number: 863-648-3566</div>
				<div class="fold">Address: 6000 Lakeland Highlands Rd, Lakeland, FL 33813</div>
                		<a href="http://georgejenkinshs.com/">Website</a>
		
		<h2>Organizer's info</h2>
			<div class="fold">Phone number: 863-549-9869</div>
			<div class="fold">Address: 6000 Lakeland Highlands Rd, Lakeland, FL 33813</div>
                	<a href="http://georgejenkinshs.com/">Website</a>
	</div>
</main>
{% endblock %}
